#tweetsDisplay article {
   
    height: 250px;
    padding: .5em ;
}
.profileImg{
    width: 1.6em;
    height: 1.6em;
    margin-right: 1.3em;
}
.headerWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tweets header {
    display: flex;
    justify-content: space-between;
}
.tweets footer {
    display:flex;
    justify-content: space-between;
}
.tweets{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px black;
    margin: .9em 0em;
    transition: .5s;
   
}
.tweets:hover{
    box-shadow: 10px 10px;
}
.tweets:hover .userEmail{
   font-weight: bold;
visibility: visible;
}
.userEmail{
    visibility: hidden;
}


.iconsWrapper i{
cursor: pointer;
color: rgb(9, 41, 66);
}